body{
    background-color: #fcd04b;
    font-family: 'Lato', sans-serif;
    color: white;
}
h1{
    text-align: center;
    font-weight: 300;
}
#click{
    position: relative;
    left: 30%;
    top: 0px;
    background-color: #fcad26;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding:  25px 80px;
    border-radius: 20px;
    box-shadow: 0px 6px #efa424;

}
#click:hover{
    box-shadow: 0px 4px #efa424;
    position: relative;
    top: 2px;
}
#click:active{
    box-shadow: 0px 0px white;
    position: relative;
    top: 6px;
}
#mio{
    position: relative;
    top: 60px;
    left: 35%;
    border-radius: 13em/3em;
    padding: 30px 30px;
    background-color: #9C0DA3;
    color: #F0C743;
    transition: background-color 0.5s;
}
#mio:hover{
    background-color: #E62BF0;
}
#mio:active{
    background-color: #13F0C3;
    color: #15A386;
}