$negrito : #011C40;
$azulito2: rgb(116, 151, 197);
$azulito :  rgb(49, 133, 201);
$naranja: #F24F13;
$blanco: #F2F2F2;

.area{
    font-weight: normal;
    font-size:85%;
}

.seguir a{
    text-decoration:none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

h2{
    color:white;
}

h4{
    color: #2c5538;
}

h4:before{
    content: "Por: ";
    color: white;
}

#logo{
    width:10%;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

body{
    text-align: justify;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

header.principal{
    background-color: $azulito;
}
.panel-izquierdo {
    margin: 0.5%;
    padding: 0.5%;
    border: solid 1px $blanco;
    transition: border 1s;
}
.panel-derecho{
    margin: 0.5%;
    padding: 0.5%;
    border: solid 1px $blanco;
    transition: border 1s;
    display: flex;
    flex-direction: column;
}
.panel-izquierdo:hover{
    border: solid 1px $naranja;
}
.panel-derecho:hover{
    border: solid 1px $naranja;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav a{
    margin: 0;
    padding: 2%;
    padding-left:3%;
    padding-right:3%;
    font-weight: normal;
    text-decoration: none;
    color: white;
    background-color: $azulito;
    transition: background-color 0.8s;
}
nav a:hover {
    background-color: $naranja;
}
main.principal{
    background-color: $blanco;
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    padding-right: 2%;
}
footer.principal{
    background-color: #00509E;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 50px;
}
main.principal >.panel-izquierdo{
    flex-grow: 4;
}

.post_img{
    width: 10em;
    height: 7em;
}

.articulo{
    
    display: flex;
    flex-direction: row;
}
td{
    color: black;
}
td.julio{
    color: gray;
}
article{
    margin: 2%;
    background-color: $azulito2;
    transition: background-color 1s;
    border-radius: 15px;
}
article:hover{
    background-color: rgb(37, 131, 255);
}
/* Color Theme Swatches in Hex */
.imagen-articulo{
    margin: 1%;
}
.titulo{
    font-weight: 300;
}
.subtitulo{
    font-weight: 100;
}
span.area{
    color: $blanco;
}
.texto{
    margin: 1%;
}
.boton{
    display: flex;
    justify-content: center;
}
button{
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $blanco;
    cursor: pointer;
    border: solid 1px $naranja;
    font-family: 'Montserrat', sans-serif;
    transition: border, color, background-color 0.5s;
}
button:hover{
    border: solid 1px $azulito;
    color: $blanco;
    background-color: $naranja;
}

div.busqueda{
    display: flex;
    flex-direction: row;
}
input{
    border: 0px;
    padding: 0.1%;
    margin: 0.1%;
    background-color: $blanco;
    font-family: 'Montserrat', sans-serif;
}
input:active{
    border: 0px;
    background-color: $blanco;
}
.busqueda type{
    flex-grow: 2;
}
.calendario{
    display: flex;
    flex-direction: column;
}
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flecha{
    color: $negrito;
}
.encabezado p{
    color: $negrito;
    transition: color 0.5s;
}
.encabezado p:hover{
    color: $azulito;
    cursor: pointer;
}

td{
    background-color: #fff;
    transition: background-color 0.2s, color 0.2s;
}
td:hover{
    background-color: $azulito;
    color: $blanco;
    cursor: pointer;
}
.noticias{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
}
.noti-populares{
    display: flex;
    flex-direction: column;
}
.fecha{
    font-style: italic;
    font-size: 100;
    padding-top: 2%;
    padding-bottom: 2%;
}
.titulo-noticia:hover{
    cursor: pointer;
    color: $azulito;
}
.enlaces{
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.vistas-comentarios{
    display: flex;
}
.vistas{
    padding: 4px;
}
.comentarios{
    padding: 4px;
}
.busqueda i{
    padding: 4px;
}
#hoy{
    font-weight: 300;
    border: solid black 1px;
}
.iconos i{
    
    border-radius: 50%;
    padding: 0.5em;
    transition: all 1s;
}
.iconos i:hover{
    cursor: pointer;
    background-color: $naranja;
}
.vistas{
    width: 10%;
}
.comentarios{
    width: 10%;
}
.seguir{
    margin-left: 50%;
}
.enlaces a{
    color: $blanco;
    padding: 1em 0.5em;
}
.enlaces a:hover{
    background-color: $naranja;;
}